<h1 style="text-align:center">
  Gwent card manager
</h1>

<form class="form-signin text-center" [formGroup]="authForm" (ngSubmit)="signIn()">
    <img class="mb-4" src="https://gwent.one/image/icon/nav/cards.png" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" formControlName="email" class="form-control" placeholder="Email address" autofocus>
    <div *ngIf="isSubmitted && formControls.email.errors" class="help-block">
        <div *ngIf="formControls.email.errors.required" class="text-left text-danger login-text-danger">Email is required</div>
    </div>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" class="form-control" placeholder="Password" formControlName="password">
    <div *ngIf="isSubmitted && formControls.password.errors" class="help-block">
        <div *ngIf="formControls.password.errors.required" class="text-left text-danger login-text-danger">Password is required</div>
    </div>
    <div *ngIf="loginInvalid" class="help-block">
        <div class="text-left text-danger login-text-danger">Invalid username and password Please try again</div>
    </div>
    <div *ngIf="loginError" class="help-block">
        <div class="text-left text-danger login-text-danger">There was an error Please try again</div>
    </div>
    <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Sign in</button>
    <p class="mt-2 text-muted">&copy; 2020</p>
</form>
