<h6>CARDS STORED</h6>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#ID</th>
            <th scope="col">Name</th>
            <th scope="col">Faction</th>
            <th scope="col" class="text-center">Power</th>
            <th scope="col" class="text-center">Cost</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let card of cards">
            <th>{{ card.id }}</th>
            <td>{{ card.name }}</td>
            <td>{{ card.faction }}</td>
            <td class="text-center">{{ card.power}}</td>
            <td class="text-center">{{ card.cost }}</td>
        </tr>
    </tbody>
</table>